@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&: is(.dark *));

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	/* COLORS */
	--color-page-background: #f0f0f7;
	--color-primary: #3b86ff;
	--color-border: #d7dae2;
	--color-text-dark: #4d4f5c;
	--color-text-gray: #a3a6b4;
	--color-sidebar: #43425d;
	--color-sidebar-dark: #3c3b53;
	--color-sidebar-light: #a3a0fb;
	--color-gray-bg: #f5f6fa;
	--color-input: #d6d6d6;
	--color-red: #ff5f5f;
	--color-btn: #6a6996;
	/* FONTS */
	--font-main: 'Source Sans Pro', sans-serif;
}

:root {
	--radius: 0.25rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.13 0.028 261.692);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.21 0.034 264.665);
	--primary-foreground: oklch(0.985 0.002 247.839);
	--secondary: oklch(0.967 0.003 264.542);
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.967 0.003 264.542);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--border: #d7dae2;
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.002 247.839);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
	--background: oklch(0.13 0.028 261.692);
	--foreground: oklch(0.985 0.002 247.839);
	--card: oklch(0.21 0.034 264.665);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: oklch(0.21 0.034 264.665);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: oklch(0.928 0.006 264.531);
	--primary-foreground: oklch(0.21 0.034 264.665);
	--secondary: oklch(0.278 0.033 256.848);
	--secondary-foreground: oklch(0.985 0.002 247.839);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.034 264.665);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.278 0.033 256.848);
	--sidebar-accent-foreground: oklch(0.985 0.002 247.839);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
	* {
		@apply border-border outline-ring/50 font-main;
	}
	body {
		@apply bg-page-background text-foreground;
	}
}

/* TYPOGRAPHY */
.heading-large {
	font-weight: 400;
	font-size: 1.75rem; /* 28px */
	line-height: 2.5rem; /* 40px */
	letter-spacing: 0;
}

.heading-medium {
	font-weight: 400;
	font-size: 1.125rem; /* 18px */
	line-height: 0.8125rem; /* 13px */
	letter-spacing: 0;
}

.heading-small {
	font-weight: 400;
	font-size: 0.9375rem; /* 15px */
	line-height: 1.1875rem; /* 19px */
	letter-spacing: 0;
}

/* Body text styles */
.body-regular {
	font-weight: 400;
	font-size: 0.8125rem; /* 13px */
	line-height: 1.25rem; /* 20px */
	letter-spacing: 0;
}

/* Bold text styles */
.text-bold-medium {
	font-weight: 700;
	font-size: 0.8125rem; /* 13px */
	line-height: 1.0625rem; /* 17px */
	letter-spacing: 0;
}

.text-bold-small {
	font-weight: 700;
	font-size: 0.6875rem; /* 11px */
	line-height: 0.875rem; /* 14px */
	letter-spacing: 0;
}

.text-bold-large {
	font-weight: 700;
	font-size: 0.9375rem; /* 15px */
	line-height: 1.3125rem; /* 21px */
	letter-spacing: 0.1875rem; /* 200 */
}

.fc-toolbar {
	display: none !important;
}

[role='columnheader'] {
	background-color: var(--color-gray-bg) !important;
	border: none !important;
	padding: 1rem 0 !important;
	font-weight: 700;
	font-size: 0.6875rem !important;
	line-height: 0.875rem !important;
	letter-spacing: 0 !important;
	text-transform: uppercase;
	color: var(--color-text-gray) !important;
}

.fc .fc-daygrid-day {
	border-color: #eaf0f4;
	color: var(--color-sidebar) !important;
}

.fc-daygrid-day-number {
	margin-top: 1.0625rem !important;
	margin-right: 0.9163rem !important;
}

.fc .fc-daygrid-day.fc-day-today {
	background-color: var(--color-gray-bg) !important;
	border-bottom: 1px var(--color-border) solid !important;
}

.fc-col-header-cell.fc-day-today {
	border-bottom: 1px var(--color-border) solid !important;
}

.fc-daygrid-day-top {
	height: 2.25rem !important;
}

.fc .fc-event {
	padding: 0.375rem 0.875rem;
	border-radius: 0.25rem !important;
}

.fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
	min-height: 135px !important;
}

.fc-event-title {
	font-family: 'Source Sans Pro' !important;
	font-weight: 400 !important;
	font-size: 0.8125rem !important; /* 13px */
	line-height: 1.25rem !important; /* 20px */
	letter-spacing: 0 !important;
	color: black;
}

.fc-event-time {
	display: none !important;
}

.fc-daygrid-day-events {
	margin-top: 10px !important;
}

.fc-timegrid-slot-label-cushion,
.fc-timegrid-slot {
	height: 3.0625rem !important;
}

.fc-timegrid-slot-label-cushion {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	font-weight: 400 !important;
	font-size: 0.8125rem !important; /* 13px */
	line-height: 1.25rem !important; /* 20px */
	letter-spacing: 0 !important;
	text-transform: uppercase;
}

col {
	width: 5rem !important;
}

.fc .fc-timegrid-axis-frame {
	justify-content: center;
}

.fc-day.fc-day-today.fc-timegrid-col {
	background-color: var(--color-gray-bg) !important;
}

.fc-timegrid-divider.fc-cell-shaded {
	display: none !important;
}

.fc-timegrid-event-harness.fc-timegrid-event-harness-inset {
	flex-direction: column !important;
}

.fc-day-past.fc-timegrid-col,
.fc-day-future.fc-timegrid-col {
	background-color: white !important;
}

.fc-timegrid-now-indicator-line {
	border-color: var(--color-primary) !important; /* Синій колір */
	border-width: 2px !important; /* Товщина лінії */
	border-style: solid !important; /* Суцільна лінія */
	/* або для пунктирної: */
	/* border-style: dashed !important; */
}

/* Іконка/стрілка зліва */
.fc-timegrid-now-indicator-arrow {
	border-color: var(--color-primary) !important; /* Колір стрілки */
	border-width: 5px !important;
	border-radius: 50%; /* Розмір стрілки */
	left: 0 !important;
}
/* Дозволяємо вертикальне прокручування для основного контейнера */
.fc-scroller.fc-scroller-liquid-absolute {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
}

/* Заголовок залишаємо без скролу */
thead .fc-scroller-harness .fc-scroller {
	overflow: hidden !important;
	width: 100% !important;
}

/* Тіло календаря - дозволяємо прокручування */
tbody .fc-scroller-harness .fc-scroller {
	overflow-x: hidden !important;
	overflow-y: auto !important; /* або scroll */
	width: 100% !important;
	max-width: 1113px !important;
}

.fc-col-header,
.fc-scroller {
	width: 100% !important;
}

.fc-scrollgrid-sync-table {
	width: 100% !important;
}

/* Прибираємо overflow: hidden з тіла календаря */
.fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural {
	width: 100% !important;
}

.fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural
	[role='presentation'].fc-scrollgrid-sync-table {
	width: 100% !important;
}
